/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
header {
	display: flex;
	flex-direction: column;
}
.main-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 30px;
}
nav a {
	text-decoration: none;
	color: grey;
	padding: 20px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left, .right {
    flex-basis: 45%;
    border: 1px solid black;
    border-radius: 2px;
    background-color: lightgray;
    margin: 5px;
    padding: 10px;

}
.learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background: white;
    width: 100px;
    height: 30px;
}
.learn-more a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: square;
    margin: 6px;
}
.copy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}
.services-info {
    flex-basis: 45%;
    margin-bottom: 10px;
    line-height: 1.2em;
}
.services-info-img {
    width: 45%;
    height: 40%;
    margin-top: -36px;
}
hr {
    border: 1px solid black;
}

.copyright {
    text-align: center;
    margin: 10px;
    padding: 30px;
}